body {
    --note-icon-1: url(/img/git-commit.svg);
    --note-icon-fallback: url(/img/default-note-icon.svg);
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="git-commit"]::before,
body.filetree-note-icon .filename[data-note-icon="git-commit"]::before,
body.links-note-icon .internal-link[data-note-icon="git-commit"]::before,
body.backlinks-note-icon .backlink[data-note-icon="3"]::before {
  background-image: url(/img/git-commit.svg);
}