<aside id="floating-control">
  <a id="donatebtc" class="show" href="https://checkout.opennode.com/p/5dea6b7a-d33c-4fda-b54c-98f092814c7d" title="Donate Bitcoin">
    <i icon-name="bitcoin" aria-hidden="true"></i>
  </a>
  <a id="telegram" class="show" href="https://t.me/+Uh9gbHO9EHFkZWJh" title="Telegram">
    <i icon-name="send" aria-hidden="true"></i>
  </a>
  <a id="twitter" class="show" href="https://twitter.com/HonoluluBitcoin" title="Twitter">
    <i icon-name="twitter" aria-hidden="true"></i>
  </a>
  <a id="emailme" class="show" href="mailto:honolulubitcoin@gmail.com?subject=Regarding {{title}}&body=Discussing {{meta.siteBaseUrl}}{{permalink}}" title="Email">
    <i icon-name="mail-plus" aria-hidden="true"></i>
  </a>
  <a id="sourcecode" class="show" href="https://github.com/Rob-Ferguson/HonoluluBitDevs-Rebrand" title="Source Code">
    <i icon-name="github" aria-hidden="true"></i>
  </a>
  <a id="rssfeed" class="show" href="/feed.xml" title="RSS Feed">
    <i icon-name="rss" aria-hidden="true"></i>
  </a>
  <span id="theme-switch" class="show" title="Change Theme">
    <i class="svg-icon light" icon-name="sun" aria-hidden="true"></i>
    <i class="svg-icon dark" icon-name="moon" aria-hidden="true"></i>
    <i class="svg-icon auto" icon-name="sun-moon" aria-hidden="true"></i>
  </span>
  <a id="opened-tray" class="show toggle-tray" href="#" title="Close Menu">
    <i id="menu-close-icon" icon-name="package-open" aria-hidden="true"></i>
  </a>
  <a id="closed-tray" class="toggle-tray" href="#" title="Open Menu">
    <i id="menu-open-icon" icon-name="package" aria-hidden="true"></i>
  </a>
</aside>

<script>
    function setThemeIcon(theme) {
        let toAdd;
        switch (theme) {
            case 'dark':
                toRemove = ['auto', 'light'];
                break;
            case 'light':
                toAdd = 'fa-adjust';
                toRemove = ['dark', 'auto'];
                break;
            default:
                toRemove = ['light', 'dark'];
                break;
        }
        document.getElementById('theme-switch').classList.add(theme);
        document.getElementById('theme-switch').classList.remove(...toRemove);
    }
    function setTheme(theme, setIcon) {
        if (setIcon) {
            setThemeIcon(theme);
        }
        if (theme == 'dark') {
            document.body.classList.remove('theme-light');
            document.body.classList.add('theme-dark');
        } else if (theme == "light") {
            document.body.classList.add('theme-light');
            document.body.classList.remove('theme-dark');
        } else {
            theme = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'dark' : 'light';
            setTheme(theme, false);
        }
        
    }
    let theme = window.localStorage.getItem('site-theme') || "light";
    setTheme(theme, true);
    window.theme = theme;
    window.localStorage.setItem('site-theme', theme);

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', function(event) {
        const settings = window.localStorage.getItem('site-theme');
        if (!settings || settings == "auto") {
            window.localStorage.setItem('site-theme', "auto");
            setTheme("auto", true);
        }
    });
    document.getElementById('theme-switch').addEventListener('click', function() {
        let theme;
        if (window.theme == 'auto') {
            theme = "dark";
        } else if (window.theme == 'dark') {
            theme = 'light'
        } else {
            theme = 'auto';
        }
        setTheme(theme, true);
        window.localStorage.setItem('site-theme', theme);
        window.theme = theme;
    })
</script>

<script>
    const toggleTrayButtons = document.querySelectorAll(".toggle-tray");
    const floatingControl = document.getElementById("floating-control");

    toggleTrayButtons.forEach(function (button) {
        button.addEventListener("click", function () {
            const immediateChildren = floatingControl.children;
            Array.from(immediateChildren).forEach(function (child) {
                child.classList.toggle("show");
            });
        });
    });
</script>
