<div class="wrapper">
    <section class="sponsors-section">
        <h1 class="section-header">Sponsors</h1>
        <div class="sponsor-list">
            <a href="https://www.htdc.org/" class="sponsor-logo" target="_blank"><img src="http://www.honolulubitdevs.com/assets/imgs/HTDC_Logo.png" alt="Hawaii Technology Development Corporation"/></a>
            <a href="https://sandboxhawaii.org/" class="sponsor-logo" target="_blank"><img src="http://www.honolulubitdevs.com/assets/imgs/Sandbox_Logo.png" alt="Entrepreneurs Sandbox"/></a>
        </div>
    </section>
</div>
