<script type="text/javascript" src="https://unpkg.com/zapthreads@0.2.0/dist/zapthreads.iife.js"></script>

<div class="comment-box-wrapper" title="Comments">
    <zap-threads anchor="https://honolulu-bit-devs-rebrand-git-main-rob-ferguson.vercel.app/bit-devs/events/socratic-seminar-27/" />
</div>