<script>
    window.MashSettings = {
    earnerID: "061a9027-e936-4d43-b150-febf65a0c3d8",
    };
    var onMashScriptLoaded = function () {
    window.Mash.init();
    };
</script>
<script defer src="https://cdn.mash.com/mash/mash.js" onload="onMashScriptLoaded();"></script>