body {
  // Override variables
  --icon-size: var(--icon-xs);  // Icons used in the timestamp at top of page
  
  // Parent element containing prev/next seminar nav buttons
  p:has(button.obsidian-button) { 
    display: flex;
    justify-content: center;
    gap: 10%;
  }

  // Styles for generic buttons embedded in Obsidian notes
  .obsidian-button {
    padding: 10px 15px;
    text-align: center;
    color: #e8e8e8;
    background-color: #4d4d4e;
    border: 2px solid black;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: 2px solid var(--text-accent); 
      text-decoration: none;
    }

    &:active {
      background-color: #2c2c2c;
      border-color: var(--text-accent);
      color: var(--text-accent-hover);
      transform: translateY(1px);
    }


    & > a {
      text-decoration-line: none !important;
      font-weight: bold;
      font-size: 15px;
    }
  }

  // BTC price ticker at bottom of page
  .price-ticker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: var(--text-muted);
    gap: 10px;
    margin-top: 20px;
  }
  
  .banner {
    max-width: 1000px;
    width: 85%;
    display: block;
    margin: 10px auto 10px auto;
    border: none;
  }

  .search-button {
    border-radius: 10px;
  }

  // Main content on page pulled from Obsidian notes (not header/sidebar/footer)
  .cm-s-obsidian {
      .table-wrapper {
          overflow-x: scroll;
      }
      
      table {
        width: 100%;

        th, td {
          width: 33%;
          padding: 10px;
          text-align: center;
          font-size: 1rem !important;
        }
      }

      picture {
          max-width: 100%;
          height: auto;

          img {
              width: 100%;
              height: auto;
          }
      }

      h1 {
        font-size: 30px !important;
        margin-top: 1.5em;
        line-height: 2rem;
      }

      h2, h3, h4, h5, h6 {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
        line-height: 2rem;
      }

      header {
        text-align: center;

        h1 {
            font-size: 50px !important;
            line-height: 3rem;
        }
      }

      a.internal-link:hover {
        color: var(--text-accent-hover);
      }
  }

  .cm-s-obsidian > *[id] {
      position: relative;
      cursor: pointer;
      &:hover::before {
          content: "Double-click to copy link";
          position: absolute;
          right: 0;
          top: -1.55em;
          font-weight: normal;
          font-size: 12px;
          font-variant: initial;
          letter-spacing: 0.24px;
          line-height: 14px;
      }
  }

  // The floating control tray on the bottom right of the page
  #floating-control {
      position: fixed;
      bottom: 1vmax;
      right: 3vmax;
      margin-right: -0.7em;
      font-size: 24px;
      z-index: 999999;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;

      .svg-icon,
      i {
          cursor: pointer;
          height: 24px;
          width: auto;

          &:not(.toggle-tray):hover {
            color: var(--text-accent-hover);
          }
          
      }

      #theme-switch {
          .light {
              display: none;
          }

          .dark {
              display: none;
          }

          .auto {
              display: none;
          }
      }

      #theme-switch.light {
          .light {
              display: inline;
          }
      }

      #theme-switch.dark {
          .dark {
              display: inline;
          }
      }

      #theme-switch.auto {
          .auto {
              display: inline;
          }
      }

      .toggle-tray {
        margin-bottom: 0px;

        &:hover {
          animation: jiggle 0.4s ease-in-out;
          color: black;
        }
      }
      
      @keyframes jiggle {
        0% {
          transform: rotateZ(0deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        50% {
          transform: rotateZ(10deg);
        }
        75% {
          transform: rotateZ(-10deg);
        }
        100% {
          transform: rotateZ(0deg);
        }
      }
  }

  // Hide the floating control icons when user clicks toggle button
  .show > * {
    display: none !important;
 }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }
  
  // Sponsors section on bottom of page
  .sponsors-section {
    text-align: center;

    h1 {
      margin-bottom: 10px;
      font-size: 25px !important;
    }

    .sponsor-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1em;
      margin-top: 30px;
  
      img {
          width: 350px;
          max-width: 75% !important;
      }
    }
    
    .sponsor-logo {
      display: block;
      text-align: center;
    }
  } 

  .timestamps {
    display: flex;
    flex-direction: row;
    font-size: 0.7em !important;
    color: var(--text-muted);
    gap: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    
    div {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
    }
}




}

.content {
  max-width: 1000px;
}

.theme-dark {
  --interactive-accent: #f2a900;
  --interactive-accent-rgb: 242, 169, 0;
  --interactive-accent-hover: #f2a900;
  --text-accent: #f2a900;
  --text-accent-hover: #f2a900;
  --text-selection: #4d4d4e;
  --link-unresolved-color: var(--text-faint);
}

.theme-light {
  --interactive-accent: #f2a900;
  --interactive-accent-rgb: 242, 169, 0;
  --interactive-accent-hover: #f2a900;
  --text-accent: #f2a900;
  --text-accent-hover: #f2a900;
  --text-selection: #e7e7e7;
  --link-unresolved-color: var(--text-faint);
}